## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.data
*.zip
*.tar

# java
*.class
*.jar

#python
*.pyc
*.pickle
*checkpoint.ipynb


#latex 
*.aux
*.gz
*.log
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.synctex.gz


# other
graph
graph2
causal-bandit/icml-2015/*.pdf
causal-bandit/icml-2015/code/*.pdf
causal-bandit/icml-2015/unused/*.pdf
causal-bandit/nips_2016/*.pdf
causal-bandit/nips_2016/code/*.pdf
causal-bandit/nips_2016/unused/*.pdf
